<template class="page-template">
  <section id="convert-section" class="menu-section hide-section">

    <div class="container">
     
    
    <div class="field">
      <span class="is-size-7"><strong>Select what type of files do you want to convert:</strong></span>
      
      <input class="is-checkradio is-rtl is-small is-danger" id="convert-audio-radio" type="radio" name="exampleRtlRadioInline" checked="checked">
      <label for="convert-audio-radio">Audio</label>

      <input class="is-checkradio is-rtl is-small is-danger" id="convert-video-radio" type="radio" name="exampleRtlRadioInline">
      <label for="convert-video-radio">Video</label>
    </div>

    <div class="field">
      <div class="column">
        <a class="button is-small" id="open-convert-folder">
          <span class="icon is-small">
            <i class="far fa-folder-open"></i>
          </span>
          <span>Open files</span>
        </a>     
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input value="true" class="is-checkradio is-danger is-small" id="delete-convert-files" type="checkbox" name="checkboxDanger">
        <label for="delete-convert-files">Delete original file</label>
      </div>
    </div>

    <div class="container">
      <div class="field">
        <div class="column">   
            <a id="start-conversion" style="float:right" class="button is-small is-danger badge is-badge-small is-badge-outlined is-badge-danger">
              <span class="icon is-small">
                <i class="far fa-arrow-alt-circle-right"></i>
              </span>
              <span> Start conversion</span> 
            </a>    
        </div>
      </div>
    </div>
   
    <div class="is-divider" data-content="PROGRESS"></div>

    <h1>
      <span class="convert-number"></span>
    </h1>

    <div class="log convert-log customized-scrollbar">
    
    </div>
  
    <script>
      // You can also require other files to run in this process
      require('../app/app-convert.js')
  
    </script>

  </section>
</template>
