<template class="page-template">
  <section id="download-section" class="menu-section">
    
    <div class="container">

      <div class="columns">
        <div class="column">
          <a class="button is-small" id="open-download-folder">
            <span class="icon is-small">
              <i class="far fa-folder-open"></i>
            </span>
            <span>Save Folder</span>
          </a>     
        </div>
      </div>
  
      <article id="path-article" class="message is-small" style="display: none">
        <div class="message-body" >
          <p id="path-message" style="cursor: pointer; display: inline-block;"></p> 
        </div>
      </article>
  
      <div class="field">
        <div class="control">
          <input value="true" class="is-checkradio is-danger is-small" id="mp3-conversion" type="checkbox" name="checkboxDanger">
          <label for="mp3-conversion">Convert to audio</label>
        </div>
      </div>
      
     
      <div class="field">
        <div class="control">
          <input value="true" class="is-checkradio is-danger is-small" id="keep-files" type="checkbox" name="checkboxDanger">
          <label for="keep-files">Save both video and audio</label>
        </div>
      </div>
  
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="control has-icons-left has-icons-right">
            <input id="input-url" class="input is-small" type="text" placeholder="Double click to paste URL...">
            <span class="icon is-small is-left">
              <i class="fas fa-globe"></i>
            </span>
          </div>
        </div>
        <div class="control">
          <a id="download-button" class="button is-danger is-small not-downloading" disabled>
            <span class="icon">
              <i id="button-icon" class="fa fa-download"></i>
            </span>
            <span id="button-message">Start-download</span> 
          </a>
        </div>
      </div>
  
      <h1>Progress:
        <span class="video-number"></span>
        <span class="conversion-number"></span>
      </h1>
  
      <div class="log download-log customized-scrollbar">
    
      </div>
  
      <div class="notification is-danger">
        <button class="delete"></button>
        <p id="notification-message">
          
        </p>
      </div>
      
    </div>
    <script>
      // You can also require other files to run in this process
      require('../app/app-download.js')
  
    </script>
  </section>
</template>
